@import "tailwindcss";

@theme {
  --color-primary: #2D4635;
  --color-accent: #A0522D;
  --color-background: #FDFBF7;

  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Lato', sans-serif;
}
